.container {
    background: lightcoral;
    display: flex;
    /*justify-content: center;*/
    justify-content: space-evenly;
}

.child1 {
    background: lightblue;
}

.child2 {
    background: lightgreen;
}