.container {
    display: flex;
    justify-content: space-evenly;
}

.subcontainer {
    width: 60%;
    display: flex;
    margin-top: 50px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-right: 10px;
}

p {
    margin: 0;
    text-align: justify;
}

img {
    width: 250px;
    height: 200px;
    border-radius: 18%;
    order: 2;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}