*{
    background: #f5dd61;
    font-family: sans-serif;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
}

h1, h3{
    text-align: center;
}

li {

}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}